
@font-face {
    font-family: 'archivoregular';
    src: url('../assets/fonts/archivo/archivo-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'archivobold_italic';
    src: url('../assets/fonts/archivo/archivo-bolditalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

/************************************************************
  
*************************************************************/
body {

    font-family: 'archivoregular';
}



/************************************************************
  
*************************************************************/






/************************************************************
  
*************************************************************/








/************************************************************
  
*************************************************************/










/************************************************************
  
*************************************************************/