
@font-face {

    font-family: 'neue';
    src: url(../../20_fondos_flex/assets/fonts/helvetica-neue-5-cufonfonts-webfont/HelveticaNeue-HeavyItalic.woff)

}


body {
color: rgb(255, 254, 219);
    background-color: rgb(80, 80, 80);

    font-family: neue;
    kerning: 0.5rem;
}


section {

margin-left: 4rem;

}
div {

    background-color: rgb(0, 200, 150);
color:whitesmoke;
width: 5rem;
height:5rem;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

/*=================*
*                  *
*     Transit      *
*                  *
*==================*/

div.transit {




transition-property: all;
transition-duration: 2s;
transition-delay: 0.5;
transition-timing-function: cubic-bezier(.94,-0.02,.17,1.87)

}

p.trigger:hover + div.transit {

background-color: whitesmoke;
color:  rgb(0, 200, 150);

width: 7rem;
height: 7rem;
}

/*================*
*                 *
*   Transform     *
*                 *
*=================*/


div.transform {




    transition-property: all;
    transition-duration: 8s;

    transition-timing-function: linear
    
    }

p.trigger_scale:hover + div.transform {

transform: scale(1.15)

}

p.trigger_rotate:hover + div.transform {


    transform: rotate(2880deg);
    transform-origin: left;
   
}

p.trigger_skew:hover + div.transform {

transform: skew(5deg,8deg)
}

p.trigger_translate:hover + div.transform {


transform: translateX(-20rem);

}




/*=================* 
*                  *
*      Difer       *
*==================*/

.color {
    background-color: firebrick;
    width: 3rem;
    height: 4rem;
    transition: all 2s ease-out;
    margin-bottom: 1rem;
}

.difer p:hover ~ div{

background-color: green;

}






/*=================*   
*                  *
*     3 D          *    
*                  *
*                  *
*==================*/

div._3d {

    background-color: bisque;
    width: 6rem;
    height: 3rem;
    transition: transform 2s;
}

section._3d {

perspective: 500px;

}





p.trigger_3d:hover + div._3d {

    transform: translate3d(3rem,3rem,-5rem);

   /*  transform: translateZ(-5rem); */


}