@font-face {
    font-family: 'neue';
    src: url('../assets/fonts/helvetica-neue-5-cufonfonts-webfont/HelveticaNeue-HeavyItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din bold';
    src: url('../assets/fonts/d-din/D-DIN-Bold.otf');
    font-weight: bold;
    font-style: normal;
}


body {
    margin: 0;
    font-family: din bold;
    
}


header.main_header {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
   /* justify-content: flex-start;  
   align-items: stretch; */
  
}

header.main_header::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    background-image: url(../assets/burial_800w.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
}
.border {
    border: 2px solid black;
    /* width: 100%; */

}





div.superior{
    flex: 1 1  auto;
background-color: rgb(252, 250, 228);
display: flex;
justify-content: space-between;

}






div.menu_wrapper {
    /* flex:8 1  auto; */
display: flex;
justify-content: flex-start;
align-items: center;
justify-content: 
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav ul {

    list-style-type: none;
}

nav.icon {
     
    font-size: 3.2rem;
}





div.logo_wrapper{
    /* flex: 1 5  auto; */
  display: flex;
  justify-content: center;
  align-items: center;

}
div.logo_wrapper img {

    min-width: 10%;
    max-width: 62px;
}

div.inferior{
background-color: rgb(231, 170, 182);
    flex: 15 1  auto;

    display: flex;
    justify-content: center;
    align-items: center;
}





h1 {
    font-family: din bold;
    font-size: 4rem;
    margin-left: 1rem;
    /* width: 100%; */
}

