* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
header {
    background-color: brown;
    color: bisque;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}

main h2 {
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container div {
    margin: 1rem;
}

.btn {
    cursor: pointer;
    background-color: brown;
    color: bisque;
    margin: 1rem 0.2rem;
    padding: 0.2rem 0.25rem;
    border: 2px solid coral;
}


input , label {

    display: block;
}
.output {
    color: brown;
    padding: 3rem;
    margin: 1rem;
    font-size: 2rem;
}


footer {
    min-height: 10vh;
    background-color: rgb(221, 178, 178);
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
