

h1{

font-size: 60px

}
 h1{

font-weight: bolder

 }

 h1{

    font-style: oblique
 }

h2, h3{


font-size: 40px


}

h2, h3 {


font-weight: normal


}


strong {

font-weight: normal

}

body  {

background-color: pink

}

img {

size: 200px x 200px

}