body {

    font-family: Helvetica;
    margin: 0;
    background-color: rgb(255, 174, 67)
}

header {
    background-color: rgb(255, 175, 157);
    color: white;
   
    padding: 0.8rem 0rem 0.5rem 2rem;
    text-align: center;
}

header p {
    font-size: 1.33rem;
    }

    main {

        margin: 1rem
    }

footer {

        font-family: calibri;
        background-color: #6A2E35;
        color: white;
        padding: 1rem;
        text-align: center;
    }

  a{
        text-decoration: none;
        display: block;
        padding: 1rem;
      }