

/* MAIN FOOTER  */

.main_footer {
    background-color: #69A297;
    color: #A3C9A8;
    text-align: center;
    padding: 1rem, 0rem, 2rem, 0rem;

}
/* MAIN HEADER  */

.main_header {
    background-color: #50808E;
    /* min-height: 20px; */
    color: #DDD8C4;
    padding: 0.8rem 0rem 0.5rem 1rem;
    /* margin-top: 1rem; */
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    /*  margin: 10px */
}

/* .main_header p {

    padding: 0.5rem;
} */

.main_header nav {
    text-align: center;
    /* min-height: 20px; */
    color: #DDD8C4;
    padding: 0.5rem 0rem 1rem 0rem;
    margin-left: -0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.main_header nav a {
    color: #DDD8C4;
    text-decoration: underline;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.main_header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_header nav li {
    display: inline-block;
}

/* MAIN WRAPPER */

.main_wrapper {
    margin-left: 1rem
}

/* MAIN FOOTER */

.main_footer a {
    font-family: monospace;
    /*     text-decoration: wavy
 */
}

.main_footer p {
    margin: 0;
}

/* BACK HOME */

.back_home a {
    color: blue;
}

.back_home {
    padding: 1rem 0rem 0.5rem 0rem;
}

/* h */

h3 {
    text-decoration: underline
}

h2 {
    font-weight: 700
}

h1 {
    margin-top: 0rem;
    font-size: 3rem;
}

/* IMAGE WRAPPER */

.image_wrapper {
    text-align: center;
}

/* IMG */
 img {

    /* ESCALADO DE LA IMAGEN AL TAMAÑO MÁXIMO DE LA PANTALLA */

    max-width: 100%;
    
} 
/*Control del tamaño de la imagen*/
.image_wrapper_75{

    width: 75%;
}
.image_wrapper_50{
width: 50%;

}
.image_wrapper_25 {

    width: 25%;
}

/* .images */
.image_sec  img{
max-width: 25%;

display: inline-block;
float: left;
}
.img_fija_200  {

    max-width: 200px;
}


/* correccion de espaciado de linea mediante MARGIN 

margin-left: -0.25rem;*/

/* correción de espaciado de linea mediante FLOAT */



/* OTHER TAGS */

body {
    font-family: Helvetica, sans-serif;
    /*     margin: 0;
 */
    /*    margin-left: 1rem; */
    /* background-color:  */
    background-image: linear-gradient( #DDD8C4, rgba(80, 128, 142, 0.600))
}

em {
    font-weight: bold;
}


figcaption {
    font-style: italic;
}

/* PRE */

pre {
    /* font-family: inherit; */
    width: fit-content
}

.pre_mod {
    font-family: inherit
}

/* BLOCKQUOTE */

blockquote {
    /*  display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0x;
    margin-inline-end: 0; */
    /*     font-style: italic; */
    margin-left: 0;
    margin-right: 0;
    border-left: 2px solid lightcyan;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

blockquote footer {
    padding-top: 0.3rem;
    border-top: 2px solid gray;
    width: fit-content;
}

}

/* LISTA ORDENADA */

. .dt {
    float: left;
    clear: left;
    font-weight: bold
}

.dd {
    float: left;
    clear: right;
}

.clearfix {
    clear: both;
}

/* a */


a {
    color: rgb(92, 81, 40);
}

address {
    /*    font-style: inherit */
}
/* CLASS */
.verde {
    color: lime;
    font-weight: 700;
}
/* abbr */
abbr {
    text-decoration: none;
}

/* VIDEO EMBEDER */

.embed_container {

    position: relative;
   
    padding-bottom: 56.25%;
   
    height: 0;
   
    overflow: hidden;
   
   }
/*    .embed-container {

    position: relative;
   
    padding-bottom: 56.25%;
   
    height: 0;
   
    overflow: hidden;
   
   } */
   
   .embed_container iframe {
   
    position: absolute;
   
    top:0;
   
    left: 0;
   
    width: 100%;
   
    height: 100%;
   
   }
   
   video, embed, .pic_cont {
   
    max-width: 100%;
   
   }
   .web_externa {

    width: 100%;
   
   height: 60vh
   
   }

   audio {

    display: block;
   }

   

.graph_elements embed {

    text-align: center;
}