/* BODY*/
 
 
 body {
    /* font-family: Helvetica, sans-serif */;
    /*     margin: 0;
 */
    /*    margin-left: 1rem; */
    /* background-color:  */
    background-image: linear-gradient( #DDD8C4, rgba(80, 128, 142, 0.600));
    font-family: 'Josefin Sans', sans-serif;

}

/* MAIN FOOTER  */

.main_footer {
    background-color: #69A297;
    color: #A3C9A8;
    text-align: center;
    padding: 1rem, 0rem, 2rem, 0rem;

}
.main_footer aside ul {
 list-style-type: none;
 margin-left: -3rem;

    /* padding-bottom: 0.5rem; */
}
.main_footer aside a {
    padding: 3rem 0.5rem 0.5rem 0.5rem;
   color:  rgb(92, 81, 40)
}
.main_footer aside li{
    display: inline-block;
   
font-size: xx-large;

}
/* MAIN HEADER  */

.main_header {
    background-color: #50808E;
    /* min-height: 20px; */
    color: #DDD8C4;
    padding: 0.8rem 0rem 0.5rem 1rem;
    /* margin-top: 1rem; */
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    font-family: 'Archivo Black', sans-serif;
    /*  margin: 10px */
}

/* .main_header p {

    padding: 0.5rem;
} */

.main_header nav {
    text-align: center;
    /* min-height: 20px; */
    color: #DDD8C4;
    padding: 0.5rem 0rem 1rem 0rem;
    margin-left: -0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.main_header nav a {
    color: #DDD8C4;
    text-decoration: underline;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.main_header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_header nav li {
    display: inline-block;
}



/* MAIN FOOTER */

.main_footer a {
    font-family: monospace;
    /*     text-decoration: wavy
 */
}

.main_footer p {
    margin: 0;
}


 
/* MAIN WRAPPER */

.main_wrapper {
    margin-left: 1rem;
   margin-right: 1rem;
   margin: 1rem 20%;
}
/* @media screen and (min-width: 700px) {
    .main_wrapper{
        margin: 1rem 20%; ;
    }
  } */
/* BACK HOME */

.back_home a {
    color: blue;
}

.back_home {
    padding: 1rem 0rem 0.5rem 0rem
}
/* h */

h3 {
    text-decoration: underline
}

h2 {
    font-weight: 700
}

h1 {
    margin-top: 0rem;
    font-size: 3rem;
}

/* IMAGE WRAPPER */

.image_wrapper {
    text-align: center;
}

/* IMG */
 img {

    /* ESCALADO DE LA IMAGEN AL TAMAÑO MÁXIMO DE LA PANTALLA */

    max-width: 100%;
    
} 
/*Control del tamaño de la imagen*/
.image_wrapper_75{

    width: 75%;
}
.image_wrapper_50{
width: 50%;

}
.image_wrapper_25 {

    width: 25%;
}

/* .images */
.image_sec  img{
max-width: 25%;

display: inline-block;
float: left;
}
.img_fija_200  {

    max-width: 200px;
}


/* correccion de espaciado de linea mediante MARGIN 

margin-left: -0.25rem;*/

/* correción de espaciado de linea mediante FLOAT */



/* OTHER TAGS */


em {
    font-weight: bold;
}


figcaption {
    font-style: italic;
}

/* PRE */

pre {
    /* font-family: inherit; */
    width: fit-content;
    max-width: 100%;
}

.pre_mod {
    font-family: inherit
}
.pre_mod2{
display: block;
    max-width: 100%;
    margin-left: -5rem;
}

/* BLOCKQUOTE */

blockquote {
    /*  display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0x;
    margin-inline-end: 0; */
    /*     font-style: italic; */
    margin-left: 0;
    margin-right: 0;
    border-left: 2px solid lightcyan;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

blockquote footer {
    padding-top: 0.3rem;
    border-top: 2px solid gray;
    width: fit-content;
}


/* LISTA ORDENADA */

.dt {
    float: left;
    clear: left;
    font-weight: bold
}

.dd {
    float: left;
    clear: right;
}

.clearfix {
    clear: both;
}

/* a */


a {
    color: rgb(92, 81, 40);
}

address {
    /*    font-style: inherit */
}
/* CLASS */
.verde {
    color: lime;
    font-weight: 700;
}
/* abbr */
abbr {
    text-decoration: none;
}

/* VIDEO EMBEDER */

.embed_container {

    position: relative;
   
    padding-bottom: 56.25%;
   
    height: 0;
   
    overflow: hidden;
   
   }
/*    .embed-container {

    position: relative;
   
    padding-bottom: 56.25%;
   
    height: 0;
   
    overflow: hidden;
   
   } */
   
   .embed_container iframe {
   
    position: absolute;
   
    top:0;
   
    left: 0;
   
    width: 100%;
   
    height: 100%;
   
   }
   
   video, embed, .pic_cont {
   
    max-width: 100%;
   
   }
   .web_externa {

    width: 100%;
   
   height: 60vh
   
   }

   audio {

    display: block;
   }

   

.graph_elements embed {

    text-align: center;
}


.pic_cont picture {


    max-width: 100%;
}


.iframe_footer {

max-width: auto;
    width: 100%;
    height: 12vh;
    margin-bottom: -5;
    border: none;
    background-image: linear-gradient( #DDD8C4, rgba(80, 128, 142, 0.600));
}
.main_table th,td{

    border: none;
}


.main_table>tbody>tr:nth-of-type(even){
background-color: #e08a8a;
}
.main_table>tbody>tr:nth-of-type(odd){
    background-color: #DDD8C4
}
.table_sub td{

    border: none;

/*****************
 TABLA IRREGULAR 
******************/
.i_table{

    width: 100%;
    text-align: center;
}


.i_table {
width: 100%;
text-align: center;

/* border: 5px;
border-color: #50808E
background-color: lightcoral;
width: 50%;
height: 50%; */


}

.i_table  th{

    border: 1px solid green;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}


.i_table tr:nth-of-type(even) td {
    background-color: rgb(102, 109, 202)
}
.i_table tr:nth-of-type(odd) td {
    background-color: rgb(216, 188, 77)

}

/* form input{
    
}
form button {
    display: block;
} */

fieldset {
    /* width: fit-content; */
    border: 2px solid grey;
  /*   width: fit-content */

  margin-right: 1rem;

}



.f_control {
    
display: block;
width: 100%;
font-family: 'Josefin Sans', sans-serif;
border: none;
border-bottom: 4px solid rgba(104, 163, 163, 0.801);
padding-top:  1rem;
padding-bottom: 0.5rem;
margin-bottom: 1rem;
/* max-width: 100%; */


/* margin-block-end: 0rem 30rem 1rem 0rem; */
}
 /* input {
  padding: 1rem;
} */

.f_label {

display: block;

    margin-top: 1rem;

}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(172, 145, 72);
    opacity: 1; /* Firefox */
  }
  
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(172, 145, 72);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(172, 145, 72);
  }


  .cond_ {

    margin-top: 2rem;
  }


  .placeho {

    color: rgb(172, 145, 72);}


    .radio_wrapper {
        border-bottom: 2px groove #69A200;
        padding-top:  1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        padding-left: 1rem;

    }

    .course_data {

        margin-top: 2rem;

    }


    .form_list dt, dd {

padding: 1rem 0rem 0rem 1rem;

    }


    .det_sum summary {

font-size: larger;


    }


    .canvas {

        width: 500px;
        height: 500px;
        background-color: white;
        border: 3px solid #69A200;
        max-width: 100%;
        max-height: 100%;
    }